{% if gets("/dhis2/cluster/*") or gets("/dhis2/cluster/*/*") or gets("/dhis2/cluster/*/*/*") or (exists("/service/name") and exists("/system/ip")) %}

##
## Clustering
##

{% if exists("/dhis2/cluster/hostname") %}
# Hostname or IP address for this web server to be reachable by other DHIS2 nodes; default is unset
cluster.hostname = {{ getv("/dhis2/cluster/hostname") }}
{% elif exists("/service/name") and exists("/system/ip") %}
# Hostname or IP address for this web server to be reachable by other DHIS2 nodes; default is unset
cluster.hostname = {{ getv("/system/ip") }}
{% endif %}

{% if exists("/dhis2/cluster/cache/port") %}
# Port for cache listener; default is '4001'
cluster.cache.port = {{ getv("/dhis2/cluster/cache/port") }}
{% endif %}

{% if exists("/cluster/cache/remote/object/port") %}
# Port for remote object cache listener; default is '0'
cluster.cache.remote.object.port = {{ getv("/cluster/cache/remote/object/port") }}
{% elif (exists("/dhis2/cluster/hostname") or (exists("/service/name") and exists("/system/ip"))) %}
# Port for remote object cache listener; default is '0'
cluster.cache.remote.object.port = 5001
{% endif %}

{% if exists("/dhis2/cluster/members") %}
# List of Host:port participating in the cluster; default is unset
cluster.members = {{ getv("/dhis2/cluster/members") }}
{% elif exists("/service/name") and exists("/system/ip") %}
# List of Host:port participating in the cluster; default is unset
cluster.members ={{ printf("%s", " ") }}{% for ip in lookupIP(getv("/service/name")) %}{% if ip != getv("/system/ip") %}{{ ip }}:{{ getv("/dhis2/cluster/cache/port", "4001") }},{% endif %}{% endfor %}

{% endif %}
{% endif %}
