##
## Basic fall-back template with required values for starting DHIS2
##

{% if exists("/dhis2/connection/dialect") %}
connection.dialect = {{ getv("/dhis2/connection/dialect") }}
{% else %}
#connection.dialect = 
{% endif %}
{% if exists("/dhis2/connection/driver/class") %}
connection.driver_class = {{ getv("/dhis2/connection/driver/class") }}
{% else %}
#connection.driver_class = 
{% endif %}
{% if exists("/dhis2/connection/password") %}
connection.password = {{ getv("/dhis2/connection/password") }}
{% else %}
#connection.password = 
{% endif %}
{% if exists("/dhis2/connection/schema") %}
connection.schema = {{ getv("/dhis2/connection/schema") }}
{% else %}
#connection.schema = 
{% endif %}
{% if exists("/dhis2/connection/url") %}
connection.url = {{ getv("/dhis2/connection/url") }}
{% else %}
#connection.url = 
{% endif %}
{% if exists("/dhis2/connection/username") %}
connection.username = {{ getv("/dhis2/connection/username") }}
{% else %}
#connection.username = 
{% endif %}
{% if exists("/dhis2/unspecified") %}

# Unspecified settings

{{ getv("/dhis2/unspecified") }}
{% endif %}